

.layoutCont .left{
    background-color: var(--primary-color);
}


@media only screen and (min-width: 769px) {
    .layoutCont{
        display: grid;
        grid-template-columns: 200px 10fr;
        grid-template-areas:
        "left right";
    }
    .layoutCont .left{
        grid-area: left;
    }
    .layoutCont .right{
        grid-area: right;
    }
}